h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.info__container {
  background-color: #282c34;
  color: white;
}

.info__photo {
  width: 100%;
}

.info__heading {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

.info__subheading {
  text-align: center;
}

span {
  padding-left: .2rem;
}

.occupation {
  font-weight: 500;
  margin-top: 5px;
}

.twitter__handle {
  font-size: 12px;
  font-weight: 500;
}

.twitter__handle:hover {
  color: burlywood;
}

.btn {
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.info__btn__container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__white {
  background-color: white;
  color: black;
}

.btn__white:hover {
  background-color: #999;
}

.btn__blue {
  background-color: lightskyblue;
}

.btn__blue:hover {
  background-color: lightseagreen;
}